/* MayTinh */
@media (min-width: 1024px) {
    .footer{
        background-color: black;
    }
    .footer-information{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    .footer-information__div--category .img-bocongthuong{
        width: 60%;
    }
    .footer-information__div--social a .img-pay{
        margin-left: 2%;
    }
    .form-group{
        margin: 40px;
    }
    .form-submit{
        width: 70%;
        margin-left: 60px;
    }
    .form-group label:hover{
        color: #54a0ff;
    }
}
/* iPhone 6/7/8 */
@media (max-width: 768px) {
    body{
        background-image: url(./img_dangnhap/wallpaperflare-cropped.jpg);
        background-size: 120%;
        background-position-y: -50px;
    }
    .webname{
        padding-right: 10px;
        color: #fff;
        
    }
    .main-container{
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .header{
        justify-content: space-around;
    }
    .header-logo{
        margin-left: -70%;
        width: 30px;
    }
    .webname{
        font-size: 20px;
        margin-right: 19px;
    }
    .user{
        margin-right: 20px;
    }
    .form-heading{
        font-size: 20px;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .form-login{
        max-width: 220px;
    }
    .form-input{
        background: transparent;
        border-bottom: 1px solid white;
        outline: 0;
        color: #f5f5f5;
        flex-grow: 1;
        padding-right: 26px;
        width: 170px;
        height: 20px;
    }
    .form-group i{
        color: #fff;
        font-size: 10px;
    }
    .form-group{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    label:hover{
        color: #54a0ff;
    }
        /* <div class="form-group success"> */

    .form-group.success input {
        border: 2px solid green;
    }
    .form-group.success .message {
        color: green;
        font-weight: 900;
        font-size: 12px;
        visibility: visible;
        display: block;
        /* content: "Passed."; */
    }

    /* <div class="form-group eror"> */
    .form-group.error input {
        border: 2px solid red;
    }
    .form-group.error .message {
        visibility: visible;
        font-size: 10px;
        margin-top: 10px;
        display: block;
        color: red;
    }

    .form-group .error input{
        border-bottom: 1px solid red;
    }
    .form-group .error .message {
        visibility: visible;
        display: block;
        color: red;
    }    */
    .form-submit{
        background: transparent;
        border: 1px solid #f5f5f5;
        color: #fff;
        width: 100%;
        text-transform: uppercase;
        padding: 6px 10px;
        transition: 0.25s ease-in-out;
        margin-top: 30px;
    }
    .form-submit:hover{
        border: 1px solid #54a0ff;
    }
    .logo-dangnhap{
        width: 30px;
    }
    .dangky{
        text-decoration: none;
        color: red;
        padding-left: 10px;
    }
    .form-dangky{
        font-size: 12px;
        color: #fff;
        padding-top: 20px;
        text-align: center;
    }
    .toggle{
        display: block;
    }
    .footer-information__div--category .img-bocongthuong{
        width: 20%;
    }
    .footer-information{
        margin-right: -3px;
        text-align: center;
        display: none;
        flex-direction: column;
    }
    .footer-information__div--social a .img-pay{
        margin-left: 4%;
    }
    .footer-information__div--category div, .footer-information__div--introduce div, .footer-information__div--help div, .footer-information__div--contact div, .sub, .img-bocongthuong {
        display: none;
    }
    .footer-information__div--contact{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        margin-top: -20px;
    }
    .footer-information__div--contact a{
        margin: 10px 10px;
    }
}
/* iPad */
@media (min-width: 769px) and (max-width: 1023px) {
    .form-heading{
        font-size: 30px;
        margin-bottom: 50px;
        margin-top: 60px;
    }
    .form-login{
        max-width: 450px;
        height: 700px;
    }
    .form-input{
        background: transparent;
        border-bottom: 1px solid white;
        outline: 0;
        color: #f5f5f5;
        flex-grow: 1;
        padding-right: 26px;
        width: 230px;
        height: 30px;
    }
    .form-group i{
        color: #fff;
        font-size: 20px;
    }
        /* <div class="form-group success"> */

    .form-group.success input {
        border: 2px solid green;
    }
    .form-group.success .message {
        color: green;
        font-weight: 900;
        font-size: 15px;
        visibility: visible;
        display: block;
        /* content: "Passed."; */
    }

    /* <div class="form-group eror"> */
    .form-group.error input {
        border: 2px solid red;
    }
    .form-group.error .message {
        visibility: visible;
        font-size: 11px;
        margin-top: 10px;
        display: block;
        color: red;
    }
    ::placeholder.form-input{
        font-size: 50px;
    }
    .form-group{
        /* border-bottom: 1px solid #fff; */
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 80px;
        margin-right: 80px;
    }
    .form-submit{
        background: transparent;
        border: 1px solid #f5f5f5;
        color: #fff;
        width: 60%;
        height: 40px;
        text-transform: uppercase;
        padding: 6px 10px;
        transition: 0.25s ease-in-out;
        margin-left: 20%;
    }
    .form-group label:hover{
        color: #54a0ff;
    }
    .logo-dangnhap{
        width: 60px;
    }
    .dangky{
        text-decoration: none;
        color: red;
        padding-left: 10px;
    }
    .form-dangky{
        font-size: 20px;
        color: #fff;
        padding-top: 20px;
        text-align: center;
    }
    ::placeholder{
        font-size: 15px;
    }
    .footer-information {
        padding: 22px 26px 0px 25px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-information__div--category .img-bocongthuong{
        width: 60%;
    }
    .toggle{
        display: none;
    }
    .form-or{}
}