@media (max-width: 480px){
    .main{
        width: 100%;
    }
    ul.products{
        display: block;
    }
    /* ul.products li {
        width: 414px;
    } */
    .main h1 {
        display: block;
        margin: 5px 10%;
        text-align: left;
    }
    .pics4, .pics41, .pics42{
        display: block;
    }
    .pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8{
        max-width: 420px;
    }
    .pic1 img, .pic2 img, .pic3 img, .pic4 img, .pic5 img, .pic6 img, .pic7 img, .pic8 img{
        width: 100%;
    }
    
}
@media (min-width: 451px) and (max-width:1023px) {
    
    .main-picture__container, .main-img{
         width: 103%;
    } 


    .main-product-one, .main-product-two, .main-product-three, .main-product-four, .main-product-five, .main-product-six {
        display: block;
        margin-top: 15px;
    }
    .main-content--from{
        margin-right: 5px;
    }
    .header-content--time {
       
        display: none;
    }
    .menu-bar, .header-nav__div--trangchu, .header-nav__div--camera, .header-nav__div--camera-accessory, .header-nav__div--laptop, .header-nav__div--laptop-accessory {
        padding: 5px 5px;
    }
   
}