* {
  font-family: "Montserrat", sans-serif;
}

.overflow {
  overflow: hidden;
}

.body {
  margin: 0px;
}

.banner__div--slide #banner-img{
  height: 305px;
  width: 100%;
}
/* Header-content */
.header-content_img--logo {
  max-height: 100px;
  text-align: center;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  /* position: fixed;
  z-index: 1; */
  background-color: #fff;
  /* border-bottom: 1px solid rgba(0, 0, 0,0.15); ; */
}

.header-content__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-right: 20px;
}

.header-content__container--search {
  margin-right: 70px;
  border: 1px solid;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 10px;
  background-color: #89898926;
}
.header-content__container--search:hover {
  background-color: #fff;
}

.header-icon__i--search {
  font-size: 20px;
  color: black;
}

a .header-icon__i--user {
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.header-icon__i--shopping-cart {
  margin-left: 70px;
  font-size: 20px;
  color: black;
  position: relative;
}

.header-icon__i--shopping-cart .cart-button {
  position: absolute;
  top: -7px;
  left: 19px;
  background: #ededed;
  color: gray;
  border: 1px solid grey;
  padding: 2px;
  z-index: 1;
}

.header-icon__i--search:hover,
.header-icon__i--user:hover,
.header-icon__i--shopping-cart:hover {
  color: blue;
  cursor: pointer;
}

.header-content__container
  .header-content__container--search
  .header-icon__input--search {
  padding: 5px 50px;
  height: 30px;
  border-style: none;
  background-color: #89898900;
}
/* Header-content */

/* Header-navigation */
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  background-color: rgba(231, 58, 58, 255);
  /* margin-top: 100px; */
  margin-bottom: 20px;
}

.menu-bar {
  display: none;
}

.menu-bar,
.header-nav__div--trangchu,
.header-nav__div--camera,
.header-nav__div--camera-accessory,
.header-nav__div--laptop,
.header-nav__div--laptop-accessory {
  padding: 15px 5px;
  list-style-type: none;
  border-right: 1px solid rgba(0, 0, 0, 0.15);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.menu-bar i,
.header-nav__div--trangchu a,
.header-nav__div--camera a,
.header-nav__div--camera-accessory a,
.header-nav__div--laptop a,
.header-nav__div--laptop-accessory a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin: 0 5px;
  font-size: 15px;
}

.menu-bar:hover,
.header-nav__div--trangchu:hover,
.header-nav__div--camera:hover,
.header-nav__div--camera-accessory:hover,
.header-nav__div--laptop:hover,
.header-nav__div--laptop-accessory:hover {
  background-color: gray;
  cursor: pointer;
  color: black;
}

/* Header-navigation */

/* text fixed */
.main h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

.pics4,
.pics41,
.pics42 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6,
.pic7,
.pic8 {
  margin: 6px;
}
.pic1:hover img, .pic2:hover img, .pic3:hover img, .pic4:hover img, .pic5:hover img, .pic6:hover img, .pic7:hover img, .pic8:hover img{
  opacity: 0.5;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}

.products li {
  flex-basis: 25%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
  list-style-type: none;
}

.products li img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.content{
  text-align: justify;
}

/*ul.products li:hover {
  scale: 1.1;
  animation-duration: 2s;
  transform: scale3d(1.1 1.1 1.1);
  animation: ease;
}*/

.products li .product-top {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.products li .product-top .product-thumb {
  display: block;
}

.products li .product-top .buy-now {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: #111;
  color: #fff;
  padding: 10px 0px;
  bottom: -39px;
  position: absolute;
  transition: 0.25s ease-in-out;
  filter: opacity(80%);
  width: 100%;
}

.products li:hover .buy-now {
  bottom: 0px;
}

.products li .product-infor {
  padding: 20px 0px;
}

.products li .product-infor a {
  display: block;
  text-decoration: none;
}

.products li .product-infor div.product-cat {
  font-size: 11px;
  text-transform: uppercase;
  color: #9e9e9e;
  padding: 3px 0px;
}

.products li .product-infor a.product-name {
  color: #334867;
  padding: 3px 0px;
}

.products li .product-infor .product-price {
  color: #111;
  padding: 20px 0px;
  font-weight: 800;
  text-align: end;
}

/* Footer */
.footer {
  background-color: #000;
  color: grey;
}

.footer:hover {
  cursor: pointer;
}

.footer-information {
  display: flex;
  justify-content: space-evenly;
}
.footer-information h4 {
  padding: 20px 0;
}

.footer-information__div--category h4,
.footer-information__div--introduce h4,
.footer-information__div--help h4,
.footer-information__div--contact h4,
footer h3 {
  color: #fff !important;
}

.footer-information__div--category div,
.footer-information__div--introduce div,
.footer-information__div--help div,
.footer-information__div--contact div,
.footer-information__div--social div {
  margin-bottom: 8px;
  margin-top: 8px;
}

.footer-information__div--category .img-bocongthuong {
  width: 90%;
  margin-top: 20px;
}

.footer-information__div--help .sub div,
.footer-information__div--contact div {
  color: grey;
}

.footer-information__div--contact a,
.footer-information__div--social a {
  font-weight: bolder;
  text-decoration: none;
  color: grey;
}
.footer-information__div--social {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-information__div--social a .img-pay {
  width: 286px;
  height: 96px;
  display: block;
  padding: 15px 0;
}

.footer-information__div--social .footer-information__div--icon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-information__div--icon span {
  border: 1px solid #4267b2;
  background-color: #4267b2;
  border-radius: 5px;
  padding: 12px 10px;
  color: #fff;
}

.footer-information__div--icon span:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
}

.footer-information__div--social h3 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer-information__div--social a,
#footer__div--one {
  color: red;
  font-size: 26px;
  font-weight: bolder;
  text-align: center;
  /* padding: 6px; */
}

.footer-icon__i--youtube {
  color: red;
  font-size: 30px;
  padding: 6px;
}

.footer-icon__i--facebook {
  color: blue;
  font-size: 30px;
  padding: 6px;
}

.footer-icon__i--instagram {
  color: #da0e67;
  font-size: 30px;
  padding: 6px;
}

.footer-adress-pay {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.footer__div--adress {
  margin-top: 10px;
  margin-left: 50px;
}

.footer__div--adress div {
  padding: 6px 0;
}

.footer__div--adress div a {
  text-decoration: none;
  color: blue;
}

.footer__div--adress div a:hover {
  color: grey;
}

.footer__div--pay {
  text-align: center;
  margin-top: 10px;
  margin-right: 50px;
}

.footer__div--pay h3 {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bolder;
}
/* Footer */