.header-content--time{
    
    
}

.overflow{
    overflow: hidden;
}

.header-content--time div{
    font-weight:400;
    display:block;
    font-size:30px;
    border: calc(8px + 0.2vw) solid transparent; 
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: #333;
}


.banner{
    margin-bottom:  10px;
}

.banner__div--slide #banner-img{
    height: 305px;
    width: 100%;
}
/* end banner */

/* begin main */
.main{
    width: 100%;
}

/* main-introduce--list */

.main-introduce__div--button .main-introduce__button--one{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 105px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-right: 5px;
}

.main-introduce__div--button .main-introduce__button--two{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 105px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin-left: 5px;
}

.main-introduce__button--one p, .main-introduce__button--two p{
    font-weight: 500;
}

.main-introduce__div--button .main-introduce__button--one:hover,
.main-introduce__div--button .main-introduce__button--two:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
    color: #0275d8;
    border: 2px solid #0275d8;
}

.border-js{
    color: #0275d8;
    border: 2px solid #0275d8 !important; 
    font-weight: 900;
}

.main-introduce__div--content{
   overflow: hidden;
}
.main-introduce__div--button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-introduce__list--content-one{
    position:relative;
    display: none;
    width: 50%;
    margin: 10px auto;
    height: 500px; 
    max-width: 480px;
    overflow: hidden;
    border: calc(8px + 0.2vw) solid transparent; 
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.main-introduce__list--content-two{
    position:relative;
    display: none;
    width: 50%;
    margin: 10px auto;
    height: 500px; 
    max-width: 480px;
    overflow: hidden;
    border: calc(8px + 0.2vw) solid transparent; 
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.open{
    display: block;
}

.main-introduce__list--content-two .main-introduce__container-two,
.main-introduce__list--content-one .main-introduce__container-one{
    display: flex;
    transition: transform 0.5s ease-in-out;
            width: 100%;
}


.main-introduce__container-one img, .main-introduce__container-two img{
    width: 100%;
    object-fit: fill;
}

.main-introduce__container img:last-child{
    margin-left: 100px;
}

.main-introduce--prev,
.main-introduce--next,
.main-introduce--prev-two,
.main-introduce--next-two{
    position: absolute;
    top: 50%;
    padding: 10px;
    width: auto;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-introduce--prev,.main-introduce--prev-two{
    left: 0;
}

.main-introduce--next, .main-introduce--next-two{
    right: 0;
}

.main-introduce--prev:hover,.main-introduce--prev-two:hover,
.main-introduce--next:hover, .main-introduce--next-two:hover{
    cursor: pointer;
    opacity: 0.5;
    color: red;
}

/* main-introduce--list */
/* .main-product__container{
    display: flex;
    
}
.main-product--item{
    width: 50%;
}

.item-img img{
    width: 50%;
} */

/* main-picture--list */
.main__list--picture{
    padding-bottom: 40px;
    margin-top: 70px;

}
.main-picture__container{
   width: 100%;
   
}

.main-picture__list--one{
    display: flex;
    justify-content: space-evenly;
}

.main-picture__list--img{
    height: 50%;
    width: 30%;
    margin: 4px 4px;
}

.main-picture__list--img .main-img{
    width: 100%;
    height: 340px;
}

.main-picture__list--img .main-img:hover{
    border: calc(8px + 0.2vw) solid transparent; 
    box-sizing: border-box;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    opacity: 0.5;
}

.main-picture__list--two{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* main-picture--list */

/* main-sub-content--list */
.main__list--sub-content{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}
.main-content__container{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
}

.main-content__container h3{
    padding: 6px 0 ;
    margin-bottom: 10px;
}

.main-content__container p{
    line-height: 1.6;
    padding: 6px 0;
    text-align: justify;
}
.main-content--from{
    display: flex;
    justify-content: space-around;
    color: #fff;
    margin-top:10px ;
    font-size: 25px;
    padding: 20px;
    background-color: rgba(231, 58, 58, 255);;
}

.main-content--email{
    border: 1px solid grey;
    background-color: #fff;
    padding-left: 20px;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.main-content--sub-email i{
    color: #fff;
}

.main-content--email input{
    border: none
    
}
.main-content--email button{
    background-color: green;
    padding: 6px;
    border: none;
}

/* main--products */
.main h2{
    text-align: center;
    margin: 30px;
    font-size: 30px;
}
.main__list--products{
    /* padding: 30px;
    margin: 10px 0; */
    /* display: flex; */
}

.main-product--content{
    text-align: center;
    font-size: 16px;
    margin-top: 2px;
    line-height: 1.6;
}

.main__list--products h2{
    text-align: center;
    width: 100%;
    font-size: 30px;
    margin-bottom: 20px;
}

.main__list--products{
    width: 100%; 
    /* width: 1250px;  */
}
.main-products__container{
    width: 100%;
}

.main-products__list--one, .main-products__list--two{
   text-align: center;
   margin-top: 10px;
}

.main-product-one, .main-product-two,.main-product-three,
.main-product-four, .main-product-five,.main-product-six{
    border: 2px solid #1668b6;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
}

.main-product-one img, .main-product-two img, .main-product-three img,
.main-product-four img, .main-product-five img, .main-product-six img{
    width: 250px;
    padding: 5px;
}





/*  icon-thanks */
.icon-thank{
    position: fixed;
    top: 70%;
    /* right: 35px; */
    left: 10px;
    font-size: 50px;
    color: #e1169a;
    height: 100px;
    width: 100px;
}

.icon-thank img{
    width: 100%;
}

.img1.close-block{
    display: none;
}

.icon-thank .img2{
    display: none;
}

.img2.open-block {
    display: block;
}



.modal-thank{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    align-items: center;
    justify-content: center;
}
.modal-thank__container{
    background-color: black;
    width: 500px;
    min-height: 400px;
    max-width: calc(100% - 32px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.modal-thank--content{
    width: 460px;
    height: 360px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px; 
}

.modal-thank--content img{
    width: 90px;
    height: 90px;
    padding: 10px;
}

.modal-thank-subcontent{
    /* margin: 20px; */
    text-align: justify;
    color: black;
}

.modal-thank-subcontent p{
    /* font-style: italic; */
    line-height: 1.2;
    padding-left: 20px;
    padding-right: 20px;
}

.modal-thank-subcontent p:first-child{
    /* margin-bottom: 10px; */
    font-style: italic;
    margin-block-start: 0;
    font-weight: 700;
}

.modal-thank-subcontent p:last-child{
   margin-block-start: 0;
    font-weight: 700;
    font-style: italic;
}

.modal-thank__container button{
    position: absolute;
    width: 30px;
    height: 25px;
    top: 20px;
    left: 450px;
}
.openflex{
    display: flex;
}
.icon-thank-button:hover{
    color: red;
}


/*  test  */
.main__list--item{
    height: 100px;
    width: 100px;
    
}

.main__list--item img{
    width: 100%;
}


.slick-initialized .slick-slide {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    box-shadow: 1px 3px 3px 1px grey;
}
